body{
	/*background-color: black;*/
	text-align: center;
	margin: 0px;
	background-color: green;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2em;
}
div{
	display: inline-block;
}
button{
	display: inline-block;
	position: absolute;
	padding: 10px;
	bottom: 6%;
	left: 45%;
}
.hidden{
	visibility: hidden;
}
#container{
	background-color: black;
	height: 550px;
	width: 900px;
	position: relative;
	text-align: center;
}
#board{
	height: 500px;
	width: 900px;
/*	overflow: visible;*/
	position: relative;
	background-image: url("images/blackjacktable.png");
	background-size: contain;
	background-repeat: no-repeat
}
#dealer{
	background-color: white;
	height: 98px;
	width: 300px;
	position: absolute;
	bottom: 68%;
	left: 46%;
}
#player{
	background-color: white;
	height: 98px;
	width: 300px;
	position: absolute;
	bottom: 27%;
	left: 46%;
}
#start{
	display: inline-block;
	position: absolute;
	left: 46%;
}
#playagain{

}
#score{
	/*display: inline-block;*/
	/*position: absolute;*/
}
.dealt {
	background-size: contain;
	height: 100px;
	width: 72px;
	background-color: blue;
	position: relative;
}
.KC {
	background-image: url("images/cards/clubs/king.png");
}
.KD {
	background-image: url("images/cards/diamonds/king.png")
}
.KS {
	background-image: url("images/cards/spades/king.png")
}
.KH {
	background-image: url("images/cards/hearts/king.png")
}
.QC {
	background-image: url("images/cards/clubs/queen.png");
}
.QD {
	background-image: url("images/cards/diamonds/queen.png")
}
.QS {
	background-image: url("images/cards/spades/queen.png")
}
.QH {
	background-image: url("images/cards/hearts/queen.png")
}
.JC {
	background-image: url("images/cards/clubs/jack.png");
}
.JD {
	background-image: url("images/cards/diamonds/jack.png")
}
.JS {
	background-image: url("images/cards/spades/jack.png")
}
.JH {
	background-image: url("images/cards/hearts/jack.png")
}