body{
	/*background-color: black;*/
	text-align: center;
	margin: 0px;
	background-color: green;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2em;
}
div{
	display: inline-block;
}
button{
	display: inline-block;
	position: absolute;
	padding: 10px;
	bottom: 6%;
	left: 45%;
}
h1, h3{
	margin: 15px;
}

.hidden{
	visibility: hidden;
}
#container{
	/*background-color: black;*/
	height: 550px;
	width: 900px;
	position: relative;
	text-align: center;
}
#board{
	height: 500px;
	width: 900px;
/*	overflow: visible;*/
	position: relative;
	background-image: url("images/blackjacktable.png");
	background-size: contain;
	background-repeat: no-repeat
}
#dealer{
	/*background-color: white;*/
	height: 98px;
	width: 500px;
	position: absolute;
	bottom: 68%;
	left: 22%;
}
#player{
	/*background-color: white;*/
	height: 98px;
	width: 500px;
	position: absolute;
	bottom: 29.5%;
	left: 22%;
}
#start{
	display: inline-block;
	position: absolute;
	left: 46%;
}
#current-payroll{
	position: relative;
	top: 6%;
}
#bet-amount {
	position: relative;
	/*top: 8%;*/
}
#payout {
	position: relative;
	top: -6%;
}
#actions{
	position: relative;
	top: -12%;
}
#start {
	position: relative;
	left: 7px;
	bottom: 5.8%;
}
.done{
	position: absolute;
	left: 47%;
	/*bottom: 26%;*/
}
.hit {
	bottom: 7%;
	left: 38%;
}
.stay {
	bottom: 7%;
	left: 55%;
}
.a1 {
	bottom: 8%;
	left: 38%;
}
.a11 {
	bottom: 8%;
	left: 55%;
}
.dealt {
	background-size: contain;
	height: 102.7px;
	width: 73.4px;
	/*background-color: blue;*/
	position: relative;
}
#hidden {
	background-size: contain;
	height: 100px;
	width: 72px;
	/*background-color: blue;*/
	position: relative;
	background-image: url("images/rings.png");
}
.chips{
	position: absolute;
	height: 40px;
	width: 40px;
	background-size: contain;
}
.chips1{
	position: absolute;
	height: 40px;
	width: 40px;
	background-size: contain;
}
#one{
	background-image: url("images/chips/1.png");
	bottom: 29%;
	left: 20%;
}
#one1{
	background-image: url("images/chips/1.png");
	bottom: 33%;
	left: 55%;
}
#five{
	background-image: url("images/chips/5.png");
	bottom: 25.5%;
	left: 25%;
}
#five1{
	background-image: url("images/chips/5.png");
	bottom: 35%;
	left: 60%;
}
#twenty5{
	background-image: url("images/chips/25.png");
	bottom: 22.5%;
	left: 30%;
}
#twenty51{
	background-image: url("images/chips/25.png");
	bottom: 37%;
	left: 65%;
}
#fifty{
	background-image: url("images/chips/50.png");
	bottom: 20.5%;
	left: 35%;
}
#fifty1{
	background-image: url("images/chips/50.png");
	bottom: 39%;
	left: 70%;
}
#one00{
	background-image: url("images/chips/100.png");
	bottom: 19%;
	left: 40%;
}
#one001{
	background-image: url("images/chips/100.png");
	bottom: 41%;
	left: 75%;
}
#five00{
	background-image: url("images/chips/500.png");
	bottom: 18.5%;
	left: 45%;
}
#five001{
	background-image: url("images/chips/500.png");
	bottom: 40%;
	left: 70%;
}

/*club suits*/
.CA {
	background-image: url("images/cards/clubs/A.png");
}
.CK {
	background-image: url("images/cards/clubs/king.png");
}
.CQ {
	background-image: url("images/cards/clubs/queen.png");
}
.CJ {
	background-image: url("images/cards/clubs/jack.png");
}
.C2 {
	background-image: url("images/cards/clubs/two.png");
}
.C3 {
	background-image: url("images/cards/clubs/three.png");
}
.C4 {
	background-image: url("images/cards/clubs/four.png");
}
.C5 {
	background-image: url("images/cards/clubs/five.png");
}
.C6 {
	background-image: url("images/cards/clubs/six.png");
}
.C7 {
	background-image: url("images/cards/clubs/seven.png");
}
.C8 {
	background-image: url("images/cards/clubs/eight.png");
}
.C9 {
	background-image: url("images/cards/clubs/nine.png");
}
.C10 {
	background-image: url("images/cards/clubs/ten.png");
}

/*diamond suits*/
.DA {
	background-image: url("images/cards/diamonds/A.png");
}
.DK {
	background-image: url("images/cards/diamonds/king.png");
}
.DQ {
	background-image: url("images/cards/diamonds/queen.png");
}
.DJ {
	background-image: url("images/cards/diamonds/jack.png");
}
.D2 {
	background-image: url("images/cards/diamonds/two.png");
}
.D3 {
	background-image: url("images/cards/diamonds/three.png");
}
.D4 {
	background-image: url("images/cards/diamonds/four.png");
}
.D5 {
	background-image: url("images/cards/diamonds/five.png");
}
.D6 {
	background-image: url("images/cards/diamonds/six.png");
}
.D7 {
	background-image: url("images/cards/diamonds/seven.png");
}
.D8 {
	background-image: url("images/cards/diamonds/eight.png");
}
.D9 {
	background-image: url("images/cards/diamonds/nine.png");
}
.D10 {
	background-image: url("images/cards/diamonds/ten.png");
}

/*spade suits*/
.SA {
	background-image: url("images/cards/spades/A.png");
}
.SK {
	background-image: url("images/cards/spades/king.png");
}
.SQ {
	background-image: url("images/cards/spades/queen.png");
}
.SJ {
	background-image: url("images/cards/spades/jack.png");
}
.S2 {
	background-image: url("images/cards/spades/two.png");
}
.S3 {
	background-image: url("images/cards/spades/three.png");
}
.S4 {
	background-image: url("images/cards/spades/four.png");
}
.S5 {
	background-image: url("images/cards/spades/five.png");
}
.S6 {
	background-image: url("images/cards/spades/six.png");
}
.S7 {
	background-image: url("images/cards/spades/seven.png");
}
.S8 {
	background-image: url("images/cards/spades/eight.png");
}
.S9 {
	background-image: url("images/cards/spades/nine.png");
}
.S10 {
	background-image: url("images/cards/spades/ten.png");
}

/*heart suits*/
.HA {
	background-image: url("images/cards/hearts/A.png");	
}
.HK {
	background-image: url("images/cards/hearts/king.png");
}
.HQ {
	background-image: url("images/cards/hearts/queen.png");
}
.HJ {
	background-image: url("images/cards/hearts/jack.png");
}
.H2 {
	background-image: url("images/cards/hearts/two.png");
}
.H3 {
	background-image: url("images/cards/hearts/three.png");
}
.H4 {
	background-image: url("images/cards/hearts/four.png");
}
.H5 {
	background-image: url("images/cards/hearts/five.png");
}
.H6 {
	background-image: url("images/cards/hearts/six.png");
}
.H7 {
	background-image: url("images/cards/hearts/seven.png");
}
.H8 {
	background-image: url("images/cards/hearts/eight.png");
}
.H9 {
	background-image: url("images/cards/hearts/nine.png");
}
.H10 {
	background-image: url("images/cards/hearts/ten.png");
}